.site-content,
.site-footer {
	max-width: $size__site-max-width;
	margin: 0 auto;
}

.site-content {
	position: relative;
	padding: 1em;
}

.site-footer {
	padding: 1em;
}

.transparent-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(black, 0.4);
}

@media screen and (min-width: $size__tablet-break) {

	.site-content {
		padding: 2em;
	}
}

@media screen and (min-width: $size__desktop-wide-break) {

	.site-content {
		padding: 2em 0;
	}
}

// Custom Global Classes
.no-padding {
	padding: 0 !important;
}

// Begin .site-content on specific pages (Page with no spaces between header and content)
// .page-id-32 = FAQ Page
.home,
.page-template-template-technology,
.page-id-32 {

	.site-content {
		padding: 0 1em;
	}
}

@media screen and (min-width: $size__tablet-break) {

	.home,
	.page-template-template-technology,
	.page-id-32 {

		.site-content {
			padding: 0 2em;
		}
	}
}

@media screen and (min-width: $size__desktop-wide-break) {

	.home,
	.page-template-template-technology,
	.page-id-32 {

		.site-content {
			padding: 0;
		}
	}
}
// End .site-content on specific pages