button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: white;
	font-size: 0.8em;
	font-weight: 500;
	background: $color__background-button;
	padding: 0.5em 0.8em;
	border: 2px solid $color__background-button;
	border-radius: 1.2em;
	transition: 0.3s;

	&.active,
	&:focus,
	&:hover {
		background-color: rgba(0, 0, 0, 0.2);
		outline: none;
	}

	@media screen and (min-width: $size__tablet-break) {
		border-radius: 1.4em;
		font-size: 1em;
	}
}