input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	padding: 0.5em 0.8em;
	border-radius: 1.2em;
	font-size: 0.8em;
	border: 2px solid $color__border-input;

	&:focus {
		color: $color__text-input-focus;
		outline: none;
	}

	@media screen and (min-width: $size__tablet-break) {
		border-radius: 1.4em;
		font-size: 1em;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}