/*!
Theme Name: Reactive Surfaces
Theme URI: http://reactivesurfaces.com/
Author: Reactive Surfaces
Author URI: https://reactivesurfaces.com
Description: Custom theme built for Reactive Surfaces based on _\'s (Underscores)
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: reactivesurfaces
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Reactive Surfaces is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Content
	## Posts and pages
	## Comments
# Widgets
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/* Reactive Surfaces Colors */
/* Default Colors */
/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	/* 1 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	/* 2 */
	text-decoration: underline dotted;
	/* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	/* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	/* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	/* 1 */
	color: inherit;
	/* 2 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	white-space: normal;
	/* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #333;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.5;
	letter-spacing: 0.3px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 1140px) {
	body,
	button,
	input,
	select,
	optgroup,
	textarea {
		font-size: 20px;
		font-size: 1.25rem;
	}
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: "Montserrat", sans-serif;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 18.75px;
	font-size: 1.17188rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 18.75px;
	font-size: 1.17188rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 1em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: white;
	font-size: 0.8em;
	font-weight: 500;
	background: #4891b0;
	padding: 0.5em 0.8em;
	border: 2px solid #4891b0;
	border-radius: 1.2em;
	transition: 0.3s;
}

button.active, button:focus, button:hover,
input[type="button"].active,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"].active,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"].active,
input[type="submit"]:focus,
input[type="submit"]:hover {
	background-color: rgba(0, 0, 0, 0.2);
	outline: none;
}

@media screen and (min-width: 680px) {
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		border-radius: 1.4em;
		font-size: 1em;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #333;
	padding: 0.5em 0.8em;
	border-radius: 1.2em;
	font-size: 0.8em;
	border: 2px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
	outline: none;
}

@media screen and (min-width: 680px) {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	textarea {
		border-radius: 1.4em;
		font-size: 1em;
	}
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #4891b0;
	text-decoration: none;
}

a:visited {
	color: #39738c;
}

a:hover, a:focus, a:active {
	color: #41829e;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

a.button-link {
	display: inline-block;
	font-size: 0.9em;
	padding: 0.7em 1em;
	border-radius: 1.6em;
	border: 2px solid;
	transition: 0.3s;
	color: inherit;
}

a.button-link.active, a.button-link:focus, a.button-link:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

a i {
	margin-left: 1em;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 62%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	position: relative;
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
	color: #afcf39;
}

.main-navigation a {
	color: #333;
	font-weight: 500;
	display: block;
	text-decoration: none;
	padding: 0.5em 0.7em;
	font-size: 0.8em;
	transition: 0.3s;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
	color: #afcf39;
}

.main-navigation #mobile-navigation-toggle {
	font-size: 2em;
	cursor: pointer;
	float: right;
}

.main-navigation #primary-menu {
	-ms-flex-pack: justify;
	    justify-content: space-between;
}

.main-navigation #secondary-menu {
	-ms-flex-pack: end;
	    justify-content: flex-end;
	margin-bottom: 0.5em;
}

.main-navigation #secondary-menu a {
	font-size: 0.7em;
	text-transform: uppercase;
}

.home .main-navigation a {
	color: white;
}

.home .main-navigation #primary-menu > li:first-child {
	display: none;
}

.home .main-navigation #mobile-navigation-toggle {
	color: white;
}

.mobile-overlay {
	text-align: center;
	height: 0;
	width: 100vw;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-image: linear-gradient(30deg, #b5d033, #27bcd0);
	overflow-x: hidden;
	transition: 0.3s;
}

.mobile-overlay.nav-expanded {
	height: 100vh;
}

.mobile-overlay #mobile-navigation-close {
	color: white;
	display: block;
	margin: 1.5em auto 0;
	width: 2em;
	font-size: 2em;
}

.mobile-overlay .overlay-content,
.mobile-overlay .social-media-navigation {
	color: white;
}

.mobile-overlay .overlay-content ul,
.mobile-overlay .social-media-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.mobile-overlay .overlay-content {
	margin-top: 2em;
}

.mobile-overlay .social-media-navigation {
	margin-top: 5em;
}

.mobile-overlay .social-media-navigation #social-media-menu-mobile {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
}

.mobile-overlay .social-media-navigation #social-media-menu-mobile li:first-child a i {
	margin-left: 0;
}

.mobile-overlay a {
	color: white;
	font-size: 1.2em;
	font-weight: 600;
	padding: 0.5em;
	text-decoration: none;
	display: block;
}

@media screen and (min-width: 680px) {
	.main-navigation #mobile-navigation-toggle {
		font-size: 2.5em;
	}
}

@media screen and (min-width: 1140px) {
	#mobile-navigation-toggle {
		display: none;
	}
	.main-navigation ul {
		display: -ms-flexbox;
		display: flex;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	font-size: 0.7em;
	float: left;
	width: 50%;
}

.comment-navigation .nav-previous i,
.posts-navigation .nav-previous i,
.post-navigation .nav-previous i {
	margin: 0 1em 0 0;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	font-size: 0.7em;
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	        clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	        clip-path: none;
	color: #21759b;
	display: block;
	font-size: 17.5px;
	font-size: 1.09375rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Global Layouts
--------------------------------------------------------------*/
.site-content,
.site-footer {
	max-width: 1440px;
	margin: 0 auto;
}

.site-content {
	position: relative;
	padding: 1em;
}

.site-footer {
	padding: 1em;
}

.transparent-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 680px) {
	.site-content {
		padding: 2em;
	}
}

@media screen and (min-width: 1440px) {
	.site-content {
		padding: 2em 0;
	}
}

.no-padding {
	padding: 0 !important;
}

.home .site-content,
.page-template-template-technology .site-content,
.page-id-32 .site-content {
	padding: 0 1em;
}

@media screen and (min-width: 680px) {
	.home .site-content,
	.page-template-template-technology .site-content,
	.page-id-32 .site-content {
		padding: 0 2em;
	}
}

@media screen and (min-width: 1440px) {
	.home .site-content,
	.page-template-template-technology .site-content,
	.page-id-32 .site-content {
		padding: 0;
	}
}

/*--------------------------------------------------------------
## General Content
--------------------------------------------------------------*/
.content-style-1 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: center;
	    justify-content: center;
	margin: -5em 0 3em;
}

.content-style-1 .column-1 {
	color: white;
	background-color: #4891b0;
	width: 100%;
	padding: 2em 1em 3em;
	border-top-right-radius: 1em;
}

.content-style-1 .column-1 h2 {
	font-size: 1.5em;
	font-weight: 600;
}

.content-style-1 .column-1 h3 {
	font-size: 1.8em;
	font-weight: 400;
}

.content-style-1 .column-2 {
	margin-top: 1em;
	padding: 1em;
}

.content-style-1 .column-2 h1 {
	font-size: 1.5em;
	font-weight: 700;
}

.content-style-1 .column-2 h3 {
	font-weight: 600;
}

@media screen and (min-width: 680px) {
	.content-style-1 {
		-ms-flex-direction: row-reverse;
		    flex-direction: row-reverse;
		margin: 0;
	}
	.content-style-1 .column-1 {
		width: 50%;
		margin-top: -4em;
		border-top-right-radius: 3em;
		padding: 3.5em 2em;
		position: relative;
	}
	.content-style-1 .column-1 h2 {
		font-size: 1.2em;
	}
	.content-style-1 .column-1 h3 {
		font-size: 1.6em;
	}
	.content-style-1 .column-1 a.button-link {
		font-size: 1.7vw;
	}
	.content-style-1 .column-1 .padding-space {
		height: 10em;
	}
	.content-style-1 .column-2 {
		width: 50%;
		padding: 2em;
	}
	.content-style-1 .column-2 h1 {
		font-size: 1.5em;
	}
	.content-style-1 .column-2 h3 {
		font-size: 1em;
	}
}

@media screen and (min-width: 1140px) {
	.content-style-1 .column-1 {
		width: 40%;
		padding: 2.5em 3em;
		border-top-right-radius: 4em;
	}
	.content-style-1 .column-1:before {
		content: "";
		height: 6px;
		width: 90px;
		display: block;
		background-color: #afcf39;
		position: absolute;
		top: 45%;
		left: -60px;
	}
	.content-style-1 .column-1 a.button-link {
		font-size: 1em;
	}
	.content-style-1 .column-2 {
		width: 60%;
		margin: 0;
		padding: 3em 5em 3em 3em;
	}
	.content-style-1 .column-2 h1 {
		font-size: 2em;
	}
}

@media screen and (min-width: 1440px) {
	.content-style-1 .column-1 {
		width: 40%;
		padding: 2.5em 3em;
		border-top-right-radius: 4em;
	}
	.content-style-1 .column-1:before {
		width: 130px;
		left: -90px;
	}
	.content-style-1 .column-1 .padding-space {
		height: 8em;
	}
	.content-style-1 .column-2 {
		padding-right: 8em;
	}
}

.content-style-2 {
	padding-bottom: 2em;
	border-bottom: 1px solid #ccc;
}

.content-style-2 .content-container {
	background: url("images/content-style-2-background.jpg") center top no-repeat;
	margin: 0 -1em;
}

.content-style-2 .content-container .article {
	color: white;
	background-color: rgba(72, 145, 176, 0.8);
	padding: 2em 1.5em 1em;
	margin-bottom: 12em;
}

.content-style-2 .content-container .article i {
	font-size: 2em;
}

.content-style-2 .content-container .article h3 {
	font-size: 0.9em;
	font-weight: 500;
}

.content-style-2 .content-container .block-1 {
	color: white;
	background-color: #2cbdcb;
	padding: 2em 1em;
}

.content-style-2 .content-container .block-1 h2 {
	font-size: 1.5em;
	font-weight: 600;
}

.content-style-2 .content-container .block-1 h3 {
	font-size: 1.6em;
	font-weight: 400;
}

.content-style-2 .content-container .block-2 {
	background-color: #afcf39;
	padding: 2em 1em 3em;
}

.content-style-2 .content-container .block-2 h2 {
	font-size: 1.5em;
	font-weight: 600;
}

.content-style-2 .content-container .block-2 h3 {
	font-size: 1.8em;
	font-weight: 400;
}

.content-style-2 .content-container .block-3 {
	padding: 2em 1em;
}

.content-style-2 .content-container .block-3 h3 {
	font-weight: 600;
}

.content-style-2 .content-container .block-3 p {
	font-size: 1.6em;
	font-weight: 600;
}

@media screen and (min-width: 680px) {
	.content-style-2 {
		margin-top: -8em;
		padding-bottom: 10em;
		position: relative;
	}
	.content-style-2 .content-container {
		border-top-left-radius: 3em;
		max-width: 90%;
		margin: 0 auto;
	}
	.content-style-2 .content-container .article {
		border-top-left-radius: 3em;
		max-width: 450px;
		padding: 2.5em 1.752em 1em;
	}
	.content-style-2 .content-container .article h3 {
		font-size: 1.25em;
		font-weight: 400;
	}
	.content-style-2 .content-container .blocks-container {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-pack: end;
		    justify-content: flex-end;
	}
	.content-style-2 .content-container .blocks-container .block-1 {
		-ms-flex-order: 2;
		    order: 2;
		width: 60%;
		padding: 2em;
		position: relative;
		right: -3.58em;
		top: -3em;
		border-bottom-right-radius: 3em;
	}
	.content-style-2 .content-container .blocks-container .block-1 h2 {
		font-size: 1.3em;
	}
	.content-style-2 .content-container .blocks-container .block-1 h3 {
		font-size: 1.8em;
	}
	.content-style-2 .content-container .blocks-container .block-2 {
		-ms-flex-order: 1;
		    order: 1;
		width: 40%;
		padding: 3.5em 1.5em;
		position: relative;
		left: -3.58em;
		bottom: -6em;
		border-top-right-radius: 3em;
	}
	.content-style-2 .content-container .blocks-container .block-2 h2 {
		font-size: 1.2em;
	}
	.content-style-2 .content-container .blocks-container .block-2 h3 {
		font-size: 1.6em;
	}
	.content-style-2 .content-container .blocks-container .block-2 a.button-link {
		font-size: 1.4vw;
	}
	.content-style-2 .content-container .blocks-container .block-3 {
		-ms-flex-order: 3;
		    order: 3;
		width: 100%;
		padding: 2em 0;
		position: relative;
		bottom: -6em;
	}
	.content-style-2 .content-container .blocks-container .block-3 h3 {
		font-size: 1em;
	}
	.content-style-2 .content-container .blocks-container .block-3 p {
		font-size: 1.8em;
	}
}

@media screen and (min-width: 1140px) {
	.content-style-2 {
		margin-top: -8em;
	}
	.content-style-2 .content-container {
		border-top-left-radius: 4em;
	}
	.content-style-2 .content-container .article {
		border-top-left-radius: 4em;
	}
	.content-style-2 .content-container .blocks-container .block-1 {
		border-bottom-right-radius: 4em;
		padding: 2.5em 3em;
	}
	.content-style-2 .content-container .blocks-container .block-2 a.button-link {
		font-size: 1em;
	}
}

@media screen and (min-width: 1440px) {
	.content-style-2 {
		margin-top: -6em;
	}
	.content-style-2 .content-container {
		background-size: contain;
	}
}

.content-style-3 {
	padding: 2em 0;
}

.content-style-3 .text-container {
	text-align: center;
	margin-bottom: 3em;
}

.content-style-3 .text-container h2 {
	font-size: 1.8em;
	font-weight: 500;
}

.content-style-3 .text-container p {
	margin: 0;
}

.content-style-3 .columns-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: justify;
	    justify-content: space-between;
}

.content-style-3 .columns-container .column {
	width: 100%;
	text-align: center;
	margin-bottom: 3em;
}

.content-style-3 .columns-container .column a {
	color: black;
}

@media screen and (min-width: 680px) {
	.content-style-3 {
		padding: 2em;
	}
	.content-style-3 .columns-container .column {
		width: 25%;
		margin-bottom: 0;
	}
}

.content-style-4 .video-container {
	position: relative;
}

.content-style-4 .video-container .video-image {
	position: relative;
	margin: 0 -1em 2em;
}

.content-style-4 .video-container .video-image img {
	display: block;
	width: 100%;
	max-height: 600px;
}

.content-style-4 .video-container .mobile-video-player-button {
	max-width: 100px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content-style-4 .video-container a {
	color: #333;
}

@media screen and (min-width: 680px) {
	.content-style-4 {
		margin: 2em 0;
	}
	.content-style-4 .video-container .video-text-container {
		color: white;
		width: 50%;
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-30%, -50%);
	}
	.content-style-4 .video-container .video-text-container:before {
		content: "";
		background: url("images/content-style-4-video-player-button.png") top left no-repeat;
		width: 126px;
		height: 138px;
		display: block;
		position: absolute;
		left: -125px;
		top: -35px;
	}
	.content-style-4 .video-container .video-text-container p {
		font-weight: 500;
	}
	.content-style-4 .video-container .mobile-video-player-button {
		display: none;
	}
}

.content-style-5 {
	padding: 2em 0;
}

.content-style-5 .text-container {
	margin-bottom: 3em;
}

.content-style-5 .text-container h2 {
	font-size: 1.8em;
	font-weight: 700;
}

.content-style-5 .columns-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: justify;
	    justify-content: space-between;
}

.content-style-5 .columns-container .column-flip {
	color: white;
	text-align: center;
	width: 100%;
	margin-bottom: 2em;
}

.content-style-5 .columns-container .column-flip:hover {
	cursor: pointer;
}

.content-style-5 .columns-container .column-flip .transparent-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.content-style-5 .columns-container .column-flip .column-text-container {
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content-style-5 .columns-container .column-flip .front img,
.content-style-5 .columns-container .column-flip .back img {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.content-style-5 .columns-container .column-flip .front .column-text-container i,
.content-style-5 .columns-container .column-flip .back .column-text-container i {
	color: #2cbdcb;
	font-size: 1.5em;
}

.content-style-5 .columns-container .column-flip .front .column-text-container h3,
.content-style-5 .columns-container .column-flip .back .column-text-container h3 {
	margin: 0.4em;
	font-size: 3vw;
	font-weight: 500;
}

.content-style-5 .columns-container .column-flip .front .column-text-container p,
.content-style-5 .columns-container .column-flip .back .column-text-container p {
	margin: 0;
	font-size: 4vw;
}

.content-style-5 .columns-container .column-flip .back {
	background-color: #4891b0;
}

.content-style-5 .columns-container .column-flip .back .column-text-container h3 {
	margin-top: 0;
}

.content-style-5 .columns-container .column-flip .back .column-text-container p {
	margin: 0 auto;
	width: 90%;
}

@media screen and (min-width: 680px) {
	.content-style-5 {
		padding: 2em;
	}
	.content-style-5 .text-container.text-position-center {
		margin: 0 auto;
		text-align: center;
	}
	.content-style-5 .columns-container .column-flip {
		width: 48%;
	}
	.content-style-5 .columns-container .column-flip .front .column-text-container i,
	.content-style-5 .columns-container .column-flip .back .column-text-container i {
		font-size: 2vw;
	}
	.content-style-5 .columns-container .column-flip .front .column-text-container h3,
	.content-style-5 .columns-container .column-flip .back .column-text-container h3 {
		font-size: 1.2vw;
	}
	.content-style-5 .columns-container .column-flip .front .column-text-container p,
	.content-style-5 .columns-container .column-flip .back .column-text-container p {
		font-size: 1.7vw;
	}
}

@media screen and (min-width: 1140px) {
	.content-style-5 .text-container {
		width: 65%;
	}
	.content-style-5 .text-container h2 {
		width: 50%;
	}
	.content-style-5 .text-container.text-position-center h2 {
		width: initial;
	}
	.content-style-5 .columns-container .column-flip .front .column-text-container i,
	.content-style-5 .columns-container .column-flip .back .column-text-container i {
		font-size: 3vw;
	}
	.content-style-5 .columns-container .column-flip .front .column-text-container h3,
	.content-style-5 .columns-container .column-flip .back .column-text-container h3 {
		font-size: 1.5vw;
	}
	.content-style-5 .columns-container .column-flip .front .column-text-container p,
	.content-style-5 .columns-container .column-flip .back .column-text-container p {
		font-size: 1.8vw;
	}
}

@media screen and (min-width: 1440px) {
	.content-style-5 .columns-container .column-flip .front .column-text-container i,
	.content-style-5 .columns-container .column-flip .back .column-text-container i {
		font-size: 2em;
	}
	.content-style-5 .columns-container .column-flip .front .column-text-container h3,
	.content-style-5 .columns-container .column-flip .back .column-text-container h3 {
		font-size: 1em;
	}
	.content-style-5 .columns-container .column-flip .front .column-text-container p,
	.content-style-5 .columns-container .column-flip .back .column-text-container p {
		font-size: 1.5em;
	}
}

.content-style-6 {
	padding: 2em 0;
}

.content-style-6 .text-container {
	margin-bottom: 3em;
}

.content-style-6 .text-container.text-align-center {
	text-align: center;
}

.content-style-6 .text-container.disclaimer {
	font-size: 0.7em;
	font-weight: 600;
	color: #9b9b9b;
}

.content-style-6 .text-container h2 {
	font-size: 1.8em;
	font-weight: 700;
}

@media screen and (min-width: 680px) {
	.content-style-6 {
		padding: 2em;
	}
}

@media screen and (min-width: 1140px) {
	.content-style-6 .text-container {
		width: 70%;
	}
	.content-style-6 .text-container.text-position-center {
		margin: 0 auto;
	}
	.content-style-6 .text-container.text-position-right {
		margin: 0 0 0 auto;
	}
	.content-style-6 .text-container.text-position-right.text-decoration {
		position: relative;
	}
	.content-style-6 .text-container.text-position-right.text-decoration:before {
		content: "";
		height: 6px;
		width: 50%;
		display: block;
		background-color: black;
		position: absolute;
		top: 15%;
		left: -90%;
	}
}

@media screen and (min-width: 1440px) {
	.content-style-6 .text-container.text-position-right.text-decoration:before {
		left: -55vw;
	}
}

.content-style-7 {
	background: url("images/content-style-7-background.jpg") center top no-repeat;
	background-size: cover;
	margin: 0 -1em;
	padding: 2em 1em;
	text-align: center;
}

.content-style-7 .text-container {
	margin-bottom: 3em;
}

.content-style-7 .grid-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: justify;
	    justify-content: space-between;
}

.content-style-7 .grid-container .grid-item {
	width: 100%;
	margin-bottom: 2em;
}

.content-style-7 .grid-container .grid-item h3 {
	color: #4891b0;
}

.content-style-7 .grid-container .grid-item p {
	color: #9b9b9b;
}

@media screen and (min-width: 680px) {
	.content-style-7 {
		padding: 3em 2em 2em;
		margin: 0 -2em;
	}
	.content-style-7 .grid-container .grid-item {
		text-align: left;
		width: 30%;
	}
}

@media screen and (min-width: 1140px) {
	.content-style-7 {
		margin: 0;
	}
	.content-style-7 .text-container {
		width: 70%;
		margin: 0 auto 4em;
	}
}

.content-style-8 {
	padding: 2em 0;
}

.content-style-8 .text-container h2 {
	text-align: center;
	font-size: 1.8em;
	font-weight: 500;
}

.content-style-8 .articles-container .article {
	color: white;
	background-color: rgba(72, 145, 176, 0.8);
	padding: 2em 1.5em;
	height: 350px;
}

.content-style-8 .articles-container .article a {
	color: white;
}

.content-style-8 .articles-container .article i {
	font-size: 2em;
}

.content-style-8 .articles-container .article h3 {
	font-size: 1.2em;
	font-weight: 500;
}

.content-style-8 .articles-container .article p {
	margin: 0;
	text-transform: uppercase;
}

.content-style-8 .articles-container .fa-arrow-left,
.content-style-8 .articles-container .fa-arrow-right {
	font-size: 1.2em;
	margin: 0 0.5em;
}

.content-style-8 .articles-container .owl-item:nth-child(2n-1) .article {
	border-bottom-left-radius: 3em;
}

.content-style-8 .articles-container .owl-item:nth-child(2n) .article {
	border-top-left-radius: 3em;
}

.content-style-8 .articles-container .owl-item:nth-child(3n) .article {
	background-color: #2cbdcb;
}

.content-style-8 .articles-container .owl-item:nth-child(3n+1) .article {
	background-color: #afcf39;
}

.content-style-8 .articles-container .owl-item:nth-child(3n-1) .article {
	background-color: #335e6c;
}

.content-style-8 .link-container {
	display: none;
}

@media screen and (min-width: 680px) {
	.content-style-8 .articles-container {
		margin-bottom: 2em;
	}
	.content-style-8 .link-container {
		display: block;
		text-align: center;
	}
}

@media screen and (min-width: 1140px) {
	.content-style-8 .articles-container .article {
		height: 440px;
		padding: 3em 2.5em;
	}
	.content-style-8 .articles-container .article p {
		font-size: 0.8em;
	}
}

.content-style-9 {
	margin: 0 -1em;
}

.content-style-9 .image-container img {
	display: block;
	width: 100%;
}

.content-style-9 .text-container {
	margin: 1em 0;
	padding: 1em;
}

.content-style-9 .text-container h2 {
	font-size: 1.8em;
	font-weight: 700;
}

.content-style-9 .color-box-container {
	-ms-flex-order: 3;
	    order: 3;
	padding: 2em 1em;
}

.content-style-9 .color-box-container.bg-color-blue {
	color: white;
	background-color: #4891b0;
}

.content-style-9 .color-box-container.bg-color-light-green {
	background-color: #afcf39;
}

.content-style-9 .color-box-container.bg-color-dark-blue {
	color: white;
	background-color: #335e6c;
}

.content-style-9 .color-box-container a {
	color: white;
}

.content-style-9 .color-box-container h2 {
	font-size: 1.5em;
	font-weight: 600;
}

.content-style-9 .color-box-container h3 {
	font-size: 1.8em;
	font-weight: 400;
}

.content-style-9.layout-1 .image-container {
	-ms-flex-order: 1;
	    order: 1;
}

.content-style-9.layout-1 .text-container {
	-ms-flex-order: 2;
	    order: 2;
}

.content-style-9.layout-2 .image-container {
	-ms-flex-order: 2;
	    order: 2;
}

.content-style-9.layout-2 .text-container {
	-ms-flex-order: 1;
	    order: 1;
}

@media screen and (min-width: 680px) {
	.content-style-9 {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-align: center;
		    align-items: center;
	}
	.content-style-9 .image-container {
		width: 35%;
	}
	.content-style-9 .text-container {
		width: 65%;
		margin: 0;
	}
	.content-style-9 .text-container h2 {
		font-size: 1.2em;
		margin-top: 0;
	}
	.content-style-9 .color-box-container {
		width: 100%;
		padding: 2em;
	}
	.content-style-9 .color-box-container h2 {
		font-size: 1.2em;
	}
	.content-style-9 .color-box-container h3 {
		font-size: 1.6em;
	}
	.content-style-9.layout-1 .image-container img {
		border-top-left-radius: 2em;
	}
	.content-style-9.layout-1 .color-box-container {
		border-bottom-right-radius: 2em;
	}
	.content-style-9.layout-2 .image-container img {
		border-bottom-right-radius: 2em;
	}
	.content-style-9.layout-2 .color-box-container {
		border-top-left-radius: 2em;
	}
}

@media screen and (min-width: 1140px) {
	.content-style-9 {
		-ms-flex-align: initial;
		    align-items: initial;
		-ms-flex-pack: center;
		    justify-content: center;
	}
	.content-style-9 .image-container {
		width: 45%;
		max-width: 540px;
	}
	.content-style-9 .text-container {
		width: 55%;
		padding: 2.5em 3em;
	}
	.content-style-9 .text-container h2 {
		font-size: 1.5em;
	}
	.content-style-9 .color-box-container {
		width: 70%;
		padding: 2.5em 3em;
		position: relative;
		top: -3em;
		margin-bottom: -3em;
	}
	.content-style-9.layout-1 .image-container img {
		border-top-left-radius: 4em;
	}
	.content-style-9.layout-1 .color-box-container {
		border-bottom-right-radius: 4em;
	}
	.content-style-9.layout-2 .image-container img {
		border-bottom-right-radius: 4em;
	}
	.content-style-9.layout-2 .color-box-container {
		border-top-left-radius: 4em;
	}
}

.content-style-10 {
	margin: 2em 0;
}

.content-style-10 .text-container {
	margin-bottom: 3em;
	text-align: center;
}

.content-style-10 .text-container h2 {
	font-size: 1.8em;
	font-weight: 600;
}

.content-style-10 .grid-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: center;
	    justify-content: center;
	max-width: 450px;
	margin: 0 auto;
}

.content-style-10 .grid-container .grid-item {
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 2px solid #ccc;
}

.content-style-10 .grid-container .grid-item img {
	margin-right: 1em;
}

.content-style-10 .grid-container .grid-item p {
	margin: 0;
}

@media screen and (min-width: 680px) {
	.content-style-10 {
		padding: 1em 2em;
		margin: 0 -2em;
	}
	.content-style-10 .grid-container {
		max-width: initial;
	}
	.content-style-10 .grid-container .grid-item {
		width: 44%;
		margin: 0 3% 2em;
	}
}

@media screen and (min-width: 1140px) {
	.content-style-10 {
		margin: 0;
	}
	.content-style-10 .text-container {
		width: 70%;
		margin: 0 auto 4em;
	}
}

.content-style-11 {
	margin: 4em 0;
}

.content-style-11 .text-container {
	margin-bottom: 3em;
	text-align: center;
}

.content-style-11 .text-container h2 {
	font-size: 1.8em;
	font-weight: 600;
}

.content-style-11 .image-container img {
	display: block;
	margin: 0 auto;
}

@media screen and (min-width: 1140px) {
	.content-style-11 {
		margin: 5em 0;
	}
	.content-style-11 .text-container {
		width: 70%;
		margin: 0 auto 2em;
	}
}

.content-style-12 {
	margin: 3em -1em;
	padding: 2em;
	background-color: #f4f8fa;
}

.content-style-12 .text-container {
	margin-bottom: 3em;
	text-align: center;
}

.content-style-12 .text-container h2 {
	font-size: 1.8em;
	font-weight: 600;
}

.content-style-12 .content-container .item {
	border: 1px solid #4891b0;
	border-top-left-radius: 1em;
	background-color: white;
}

.content-style-12 .content-container .item .item-text-container {
	padding: 1em 2em;
}

.content-style-12 .content-container .item .item-text-container h3 {
	color: #4891b0;
	border-bottom: 2px solid #4891b0;
	display: inline-block;
}

.content-style-12 .content-container .item .item-text-container h4 {
	font-size: 1.5em;
	font-weight: 400;
}

.content-style-12 .content-container .item .item-text-container .html-content ul {
	margin-left: 0;
	padding-left: 1em;
}

.content-style-12 .content-container .item .item-image-container img {
	display: block;
	width: 100%;
}

.content-style-12 .content-container .fa-arrow-left,
.content-style-12 .content-container .fa-arrow-right {
	font-size: 1.2em;
	margin: 0 0.5em;
}

@media screen and (min-width: 680px) {
	.content-style-12 {
		margin: 3em -2em;
	}
	.content-style-12 .text-container {
		margin-bottom: 3em;
	}
	.content-style-12 .content-container .item {
		border-top-left-radius: 2em;
		position: relative;
		width: 82%;
		display: -ms-flexbox;
		display: flex;
		margin-top: 2.7em;
	}
	.content-style-12 .content-container .item .item-text-container {
		width: 80%;
		padding: 2em 3em;
		font-size: 0.8em;
	}
	.content-style-12 .content-container .item .item-text-container h4 {
		font-size: 1.2em;
	}
	.content-style-12 .content-container .item .item-image-container {
		position: absolute;
		right: -95px;
		top: -40px;
		border-bottom-right-radius: 2em;
		overflow: hidden;
		box-shadow: 0 7px 33px -8px black;
		max-width: 235px;
	}
}

@media screen and (min-width: 1140px) {
	.content-style-12 {
		padding-bottom: 3em;
	}
	.content-style-12 .text-container {
		width: 70%;
		margin: 0 auto 3em;
	}
	.content-style-12 .content-container .item .item-text-container {
		font-size: 0.9em;
	}
	.content-style-12 .content-container .item .item-text-container h4 {
		font-size: 1.1em;
	}
	.content-style-12 .content-container .item .item-image-container {
		top: -10%;
		right: -20%;
		max-width: 400px;
	}
}

@media screen and (min-width: 1440px) {
	.content-style-12 {
		margin: 3em 0;
	}
	.content-style-12 .content-container .item .item-text-container {
		font-size: 1em;
	}
	.content-style-12 .content-container .item .item-text-container h4 {
		font-size: 1.5em;
	}
	.content-style-12 .content-container .item .item-image-container {
		max-width: initial;
	}
}

.content-style-13 {
	padding: 2em 0 4em;
}

.content-style-13 .text-container {
	margin-bottom: 3em;
	text-align: center;
}

.content-style-13 .text-container h2 {
	font-size: 1.8em;
	font-weight: 500;
}

.content-style-13 .columns-container .column {
	padding: 1em 2em;
	border-radius: 1em;
	background-color: #eee;
	margin-bottom: 2em;
}

.content-style-13 .columns-container .column:first-child {
	background: none;
}

.content-style-13 .columns-container .column.featured {
	color: white;
	background-image: linear-gradient(30deg, #b5d033, #27bcd0);
}

.content-style-13 .columns-container .column .column-title {
	text-align: center;
	margin-bottom: 3em;
}

@media screen and (min-width: 680px) {
	.content-style-13 .columns-container {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: center;
		    justify-content: center;
		font-size: 1.2vw;
	}
	.content-style-13 .columns-container .column {
		width: 46%;
		max-width: 460px;
		margin: 0 2%;
	}
	.content-style-13 .columns-container .column .column-title {
		white-space: nowrap;
	}
	.content-style-13 .columns-container .column .column-content p {
		min-height: 3em;
	}
}

@media screen and (min-width: 1140px) {
	.content-style-13 .text-container {
		width: 70%;
		margin: 0 auto 4em;
	}
	.content-style-13 .columns-container {
		font-size: 0.7em;
	}
}

@media screen and (min-width: 1440px) {
	.content-style-13 .columns-container {
		font-size: 1em;
	}
	.content-style-13 .columns-container .column .column-content p {
		min-height: 60px;
	}
}

.content-style-14 {
	padding: 2em 0;
}

.content-style-14 .text-container {
	margin-bottom: 3em;
	text-align: center;
}

.content-style-14 .text-container h2 {
	font-size: 1.8em;
	font-weight: 500;
}

.content-style-14 .columns-container .column {
	padding: 1em 2em;
	border-radius: 1em;
	background-color: #eee;
	margin-bottom: 2em;
}

.content-style-14 .columns-container .column.featured {
	color: white;
	background-image: linear-gradient(30deg, #b5d033, #27bcd0);
}

.content-style-14 .columns-container .column .column-title {
	text-align: center;
	margin-bottom: 3em;
}

@media screen and (min-width: 680px) {
	.content-style-14 .columns-container {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: center;
		    justify-content: center;
	}
	.content-style-14 .columns-container .column {
		width: 46%;
		max-width: 460px;
		margin: 0 2%;
	}
	.content-style-14 .columns-container .column .column-content p {
		font-size: 1.2vw;
		min-height: 3em;
		margin: 0.5em 0;
	}
}

@media screen and (min-width: 1140px) {
	.content-style-14 {
		padding: 0;
	}
	.content-style-14 .text-container {
		width: 70%;
		margin: 0 auto 4em;
	}
	.content-style-14 .columns-container .column .column-content p {
		font-size: 0.7em;
		margin: 1.2em 0;
	}
}

.content-style-15 {
	padding: 2em 0;
}

.content-style-15 .text-container {
	margin-bottom: 2em;
}

.content-style-15 .text-container h2 {
	font-size: 1.8em;
	font-weight: 700;
}

.content-style-15 .boxes-container .box {
	border-width: 1px;
	border-style: solid;
	margin: 0 auto 2em;
	padding: 2em;
	max-width: 400px;
}

.content-style-15 .boxes-container .box.style-1 {
	color: #2cbdcb;
	border-color: #2cbdcb;
	border-top-left-radius: 3em;
}

.content-style-15 .boxes-container .box.style-1 a {
	color: #2cbdcb;
}

.content-style-15 .boxes-container .box.style-2 {
	color: #afcf39;
	border-color: #afcf39;
	border-bottom-left-radius: 3em;
}

.content-style-15 .boxes-container .box.style-2 a {
	color: #afcf39;
}

.content-style-15 .boxes-container .box.style-3 {
	color: #335e6c;
	border-color: #335e6c;
	border-top-left-radius: 3em;
}

.content-style-15 .boxes-container .box.style-3 a {
	color: #335e6c;
}

.content-style-15 .boxes-container .box i {
	font-size: 2em;
}

@media screen and (min-width: 680px) {
	.content-style-15 .boxes-container {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-pack: justify;
		    justify-content: space-between;
	}
	.content-style-15 .boxes-container .box {
		width: 30%;
		max-width: initial;
	}
}

@media screen and (min-width: 1140px) {
	.content-style-15 {
		padding: 2em 3em;
	}
	.content-style-15 .text-container {
		width: 65%;
	}
	.content-style-15 .text-container h2 {
		width: 50%;
	}
}

.content-style-16 {
	padding: 2em 0 0;
}

.content-style-16 .text-container {
	text-align: center;
	margin-bottom: 2em;
}

.content-style-16 .text-container h2 {
	font-size: 1.8em;
	font-weight: 700;
	margin-top: 0;
}

.content-style-16 .video-boxes-container .video-box {
	margin: 0 0 3em;
}

.content-style-16 .video-boxes-container .video-box .video-image-container {
	position: relative;
}

.content-style-16 .video-boxes-container .video-box .video-image-container .video-image {
	border-top-right-radius: 2em;
	overflow: hidden;
}

.content-style-16 .video-boxes-container .video-box .video-image-container .video-image img {
	width: 100%;
	display: block;
}

.content-style-16 .video-boxes-container .video-box .video-image-container .video-player-button {
	max-width: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content-style-16 .video-boxes-container .video-box .video-description p {
	margin-bottom: 0;
}

.content-style-16 .transparent-overlay {
	border-top-right-radius: 2em;
}

@media screen and (min-width: 680px) {
	.content-style-16 {
		padding: 2em;
	}
	.content-style-16 .video-boxes-container {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-pack: justify;
		    justify-content: space-between;
	}
	.content-style-16 .video-boxes-container .video-box {
		width: 30%;
		margin: 0;
		max-width: initial;
	}
}

.content-style-17 {
	margin: 2em -1em;
	background-repeat: no-repeat;
	background-size: cover;
}

.content-style-17 .image-container img {
	display: block;
	width: 100%;
}

.content-style-17 .text-container {
	color: white;
	padding: 2em;
}

.content-style-17 .text-container h2 {
	font-size: 1.8em;
	font-weight: 600;
	margin-top: 0;
}

.content-style-17 .text-container h3 {
	font-weight: 500;
}

@media screen and (min-width: 680px) {
	.content-style-17 {
		margin: 2em -2em;
		padding: 2em;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: center;
		    justify-content: center;
		-ms-flex-align: center;
		    align-items: center;
	}
	.content-style-17 .image-container {
		-ms-flex-order: 2;
		    order: 2;
		width: 35%;
	}
	.content-style-17 .image-container img {
		border-bottom-right-radius: 2em;
	}
	.content-style-17 .text-container {
		-ms-flex-order: 1;
		    order: 1;
		width: 65%;
	}
}

@media screen and (min-width: 1140px) {
	.content-style-17 .image-container {
		width: 30%;
	}
	.content-style-17 .text-container {
		width: 60%;
	}
}

@media screen and (min-width: 1440px) {
	.content-style-17 {
		margin: 2em 0;
		padding: 4em;
	}
}

.content-style-18 {
	margin: 2em 0 0;
}

.content-style-18 .members-container {
	margin: 0 -1em;
}

.content-style-18 .members-container.top-container .team-member-container .position-container {
	background-color: transparent;
}

.content-style-18 .members-container.top-container .team-member-container .position-container p {
	color: white;
}

.content-style-18 .members-container .team-member-container {
	position: relative;
}

.content-style-18 .members-container .team-member-container .image-container img {
	display: block;
	width: 100%;
}

.content-style-18 .members-container .team-member-container .position-container {
	position: absolute;
	bottom: 0;
	padding: 1em;
	background-color: white;
	width: 90%;
	left: 50%;
	transform: translate(-50%, 0);
}

.content-style-18 .members-container .team-member-container .position-container p {
	font-weight: 600;
	margin: 0.2em 0;
}

.content-style-18 .text-container {
	margin: 0 -1em;
	background-color: #afcf39;
	padding: 2em;
}

.bio-popup {
	display: none;
	max-width: 1000px;
	padding: 2em;
}

@media screen and (min-width: 680px) {
	.content-style-18 .members-container {
		margin: 3em 0 0;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-pack: justify;
		    justify-content: space-between;
	}
	.content-style-18 .members-container.top-container .team-member-container .position-container {
		background-color: #eee;
	}
	.content-style-18 .members-container.top-container .team-member-container .position-container p {
		color: initial;
	}
	.content-style-18 .members-container .team-member-container {
		width: 31%;
		margin-bottom: 2em;
	}
	.content-style-18 .members-container .team-member-container .image-container {
		border-top-right-radius: 1em;
		overflow: hidden;
	}
	.content-style-18 .members-container .team-member-container .position-container {
		position: relative;
		width: initial;
		background-color: #eee;
	}
	.content-style-18 .members-container .team-member-container .position-container p {
		color: initial;
	}
	.content-style-18 .text-container {
		position: relative;
		margin: 0;
		border-top-left-radius: 3em;
	}
	.content-style-18 .text-container:after {
		content: "";
		height: 5em;
		width: 6px;
		display: block;
		background-color: black;
		position: absolute;
		bottom: -4em;
		left: 50%;
		transform: translate(-50%, 0);
	}
}

@media screen and (min-width: 1140px) {
	.content-style-18 .members-container {
		margin: 4em 0 0;
	}
	.content-style-18 .members-container.top-container .team-member-container .position-container {
		background-color: transparent;
	}
	.content-style-18 .members-container.top-container .team-member-container .position-container p {
		color: white;
	}
	.content-style-18 .members-container .team-member-container .position-container {
		padding: 0.5em 1em;
		position: absolute;
		width: 90%;
		background-color: white;
	}
}

@media screen and (min-width: 1440px) {
	.content-style-18 .text-container {
		font-size: 1.25em;
	}
}

.content-style-19 {
	margin: 2em -1em;
}

.content-style-19 .image-container img {
	display: block;
	width: 100%;
}

.content-style-19 .text-container {
	padding: 2em;
}

.content-style-19 .text-container:nth-child(2) {
	color: white;
	background-color: #2cbdcb;
}

.content-style-19 .text-container h2 {
	margin-top: 0;
}

.content-style-19 .text-container .text-small {
	font-size: 0.8em;
}

@media screen and (min-width: 680px) {
	.content-style-19 {
		margin: 2em -2em;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.content-style-19 .image-container {
		width: 50%;
	}
	.content-style-19 .text-container {
		font-size: 1.9vw;
		width: 50%;
	}
	.content-style-19 .text-container:nth-child(2) {
		border-top-right-radius: 2em;
	}
}

@media screen and (min-width: 1440px) {
	.content-style-19 {
		margin: 4em 0;
	}
	.content-style-19 .text-container {
		font-size: 1.3em;
	}
}

.content-style-20 {
	padding: 2em 0;
}

.content-style-20 .text-container {
	margin-bottom: 2em;
	text-align: center;
}

.content-style-20 .text-container h2 {
	font-size: 1.8em;
	font-weight: 600;
}

.content-style-20 .boxes-container .box {
	border-width: 1px;
	border-style: solid;
	margin: 0 auto 2em;
	padding: 3em 2em 2em;
	max-width: 400px;
	color: #4891b0;
	border-color: #4891b0;
}

.content-style-20 .boxes-container .box.style-1 {
	border-top-left-radius: 3em;
}

.content-style-20 .boxes-container .box.style-2 {
	border-bottom-left-radius: 3em;
}

.content-style-20 .boxes-container .box.style-3 {
	border-top-left-radius: 3em;
}

.content-style-20 .boxes-container .box h3 {
	font-size: 1em;
	font-weight: 500;
	margin-top: 0;
}

.content-style-20 .boxes-container .box p {
	color: #9b9b9b;
	font-size: 0.7em;
}

@media screen and (min-width: 680px) {
	.content-style-20 .boxes-container {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-pack: justify;
		    justify-content: space-between;
	}
	.content-style-20 .boxes-container .box {
		width: 30%;
		max-width: initial;
	}
}

@media screen and (min-width: 1140px) {
	.content-style-20 {
		padding: 2em;
	}
}

.content-faq {
	margin-bottom: 2em;
}

.content-faq .search-form-container {
	position: relative;
}

.content-faq .search-form-container .hero-image {
	width: 100vw;
	margin: 0 -1em;
}

.content-faq .search-form-container .search-form {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.content-faq .search-form-container .search-form .search-field {
	width: 80%;
	border: none;
	margin-bottom: 0.5em;
}

.content-faq .search-form-container .search-form .search-submit {
	width: 15%;
	border: none;
}

.content-faq .text-container {
	text-align: center;
	margin-bottom: 3em;
}

.content-faq .text-container h2 {
	font-size: 1.8em;
	font-weight: 500;
}

.content-faq .accordion-container {
	margin: 3em 0;
	border: 1px solid #ccc;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
}

.content-faq .accordion-container .accordion-title {
	position: relative;
	cursor: pointer;
	font-size: 1em;
	font-weight: 500;
	margin: 0;
	padding: 2em 4em 2em 2em;
	border-top: 1px solid #ccc;
}

.content-faq .accordion-container .accordion-title i {
	position: absolute;
	top: 2em;
	right: 1.5em;
	color: #2cbdcb;
	border: 2px solid;
	border-radius: 50%;
	padding: 0.2em 0.25em 0.1em;
}

.content-faq .accordion-container .accordion-title:first-child {
	border: none;
}

.content-faq .accordion-container .panel {
	display: none;
	margin: 0;
	padding: 0 4em 2em 2em;
}

@media screen and (min-width: 680px) {
	.content-faq .search-form-container .search-form {
		max-width: 800px;
		text-align: initial;
	}
	.content-faq .search-form-container .hero-image {
		margin: 0 -2em;
	}
	.content-faq .accordion-container .accordion-title,
	.content-faq .accordion-container .panel {
		padding-right: 8em;
	}
	.content-faq .accordion-container .accordion-title i {
		right: 3em;
	}
}

@media screen and (min-width: 1140px) {
	.content-faq .text-container {
		width: 70%;
		margin: 0 auto;
	}
	.content-faq .accordion-container {
		width: 90%;
		margin: 3em auto;
	}
}

@media screen and (min-width: 1440px) {
	.content-faq .search-form-container .hero-image {
		width: 100%;
		margin: 0;
	}
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header {
	position: relative;
	padding: 1em;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	-ms-flex-align: center;
	    align-items: center;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	z-index: 10;
	border-bottom: 1px solid #ccc;
}

.site-header .site-branding .custom-logo-link img {
	display: block;
}

.site-header .site-title {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1em;
}

.site-header .site-title a {
	text-decoration: none;
}

.site-header .site-title a:focus, .site-header .site-title a:hover {
	text-decoration: underline;
}

.site-header .site-description {
	margin: 0;
	font-size: 1em;
	font-style: italic;
	font-weight: 300;
}

.home .site-header {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border: none;
}

.page-id-32 .site-header {
	border: none;
}

.anti-covid-message {
	font-weight: bold;
	position: relative;
	display: block;
	background-color: black;
	color: yellow !important;
	text-align: center;
	margin: 0 -100%;
	font-size: 2.6vw;
	padding: 0.6em;
	z-index: 10;
}

.header-image-container {
	position: relative;
	overflow: hidden;
}

.header-image-container .header-image {
	max-height: 684px;
	overflow: hidden;
}

.header-image-container .header-image img {
	display: block;
	min-width: 1440px;
}

.header-image-container .header-text-container {
	text-align: center;
	color: white;
	width: 85%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header-image-container .header-text-container h1 {
	font-size: 1.6em;
	font-weight: 700;
}

.header-image-container .header-text-container h2 {
	font-size: 1em;
	margin-bottom: 4em;
}

.header-image-container .header-text-container p {
	font-weight: 500;
	margin-bottom: 1em;
}

.header-image-container .header-navigation-arrow {
	display: none;
}

@media screen and (min-width: 680px) {
	.site-header {
		padding: 0.7em 2em;
	}
	.header-text-container p {
		font-size: 1.2em;
	}
}

@media screen and (min-width: 1140px) {
	.header-image-container .header-text-container h2 {
		width: 80%;
		margin: 0 auto;
		margin-bottom: 3em;
	}
	.header-image-container .header-navigation-arrow {
		display: block;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
	}
	.header-image-container .anti-covid-message {
		font-size: 1.5em;
	}
}

@media screen and (min-width: 1440px) {
	.header-image-container .header-image {
		max-height: 684px;
	}
	.header-image-container .header-text-container {
		width: 62%;
	}
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 2em;
}

.entry-header .cat-links,
.entry-header .back-to-articles-link {
	font-weight: 600;
	font-size: 0.7em;
}

.entry-header .cat-links a,
.entry-header .back-to-articles-link a {
	text-transform: uppercase;
}

.entry-header .cat-links a i.fa-arrow-left,
.entry-header .back-to-articles-link a i.fa-arrow-left {
	margin: 0 0.5em 0 0;
}

.entry-header .entry-title {
	font-size: 1em;
	font-weight: 600;
	margin: .125em 0 .25em;
}

.entry-header .entry-meta {
	font-size: 0.7em;
	margin-bottom: 1em;
}

.entry-footer {
	font-size: 0.8em;
}

.entry-footer .article-meta {
	font-weight: 600;
	margin: 1em 0;
}

.entry-footer .article-meta .article-journal {
	color: #9b9b9b;
}

.entry-footer .article-meta .article-date {
	color: #ccc;
}

.entry-footer .read-more-link i.fa-arrow-right {
	margin: 0 0 0 0.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.blog .post-thumbnail img,
.archive .post-thumbnail img {
	border-bottom-right-radius: 2em;
}

@media screen and (min-width: 680px) {
	.blog .site-main,
	.archive .site-main {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.blog .site-main article,
	.archive .site-main article {
		padding: 0 2.5%;
		width: 50%;
	}
}

@media screen and (min-width: 1140px) {
	.blog .site-main article,
	.archive .site-main article {
		width: 25%;
	}
	.blog .site-main article:nth-child(1), .blog .site-main article:nth-child(2),
	.archive .site-main article:nth-child(1),
	.archive .site-main article:nth-child(2) {
		width: 50%;
		margin-bottom: 3em;
	}
	.blog .site-main article:nth-child(1) .post-thumbnail img, .blog .site-main article:nth-child(2) .post-thumbnail img,
	.archive .site-main article:nth-child(1) .post-thumbnail img,
	.archive .site-main article:nth-child(2) .post-thumbnail img {
		border-top-right-radius: 4em;
	}
}

@media screen and (min-width: 1440px) {
	.single .site-content {
		max-width: 1140px;
		margin: 0 auto;
	}
}

/*--------------------------------------------------------------
## Contact Us page
--------------------------------------------------------------*/
div.wpcf7 .wpcf7-form-control {
	width: 100%;
}

@media screen and (min-width: 680px) {
	div.wpcf7 {
		max-width: 800px;
		margin: 0 auto;
	}
	div.wpcf7 input[type="submit"] {
		display: block;
		max-width: 320px;
		margin: 0 auto;
	}
}

/*--------------------------------------------------------------
## Search Results page
--------------------------------------------------------------*/
.search-results .page-header,
.search-no-results .page-header {
	margin-bottom: 1em;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	-ms-flex-align: center;
	    align-items: center;
}

.search-results .page-header .breadcrumb-container,
.search-no-results .page-header .breadcrumb-container {
	font-size: 0.7em;
	margin: 0.7em 0;
}

.search-results .page-title,
.search-no-results .page-title {
	font-size: 1.2em;
	margin: 0;
}

.search-results .results,
.search-no-results .results {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 1em;
}

.search-results article,
.search-no-results article {
	padding-top: 1.5em;
	border-top: 1px solid #ccc;
}

.search-results article .entry-title,
.search-no-results article .entry-title {
	font-size: 1.2em;
	margin: 0;
}

@media screen and (min-width: 680px) {
	.search-results .page-header .breadcrumb-container,
	.search-no-results .page-header .breadcrumb-container {
		font-size: 0.8em;
	}
}

@media screen and (min-width: 1140px) {
	.search-results article,
	.search-no-results article {
		width: 65%;
	}
}

/*--------------------------------------------------------------
## Custom Templates
--------------------------------------------------------------*/
.template-technology .tabs {
	margin: 0;
	padding: 1em 0;
	list-style: none;
	text-align: center;
}

.template-technology .tabs li {
	padding: 1em 0;
	font-weight: 500;
}

.template-technology .tabs li.active {
	color: #4891b0;
}

.template-technology .tab-content {
	display: none;
	animation: fadeEffect 0.5s;
}

.template-technology .tab-content.active {
	display: inherit;
}

@media screen and (min-width: 680px) {
	.template-technology .tabs {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		border-bottom: 1px solid #ccc;
		padding: 0;
	}
	.template-technology .tabs li {
		position: relative;
		cursor: pointer;
	}
	.template-technology .tabs li.active:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 2px;
		background-color: #4891b0;
	}
	.template-technology .tab-content {
		padding: 3em 0;
	}
}

@media screen and (min-width: 1140px) {
	.template-technology .tab-content {
		padding: 4em 0;
	}
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	border-top: 1px solid #ccc;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: center;
	    justify-content: center;
}

.site-footer .footer-logo {
	-ms-flex-order: 1;
	    order: 1;
	width: 100%;
	margin: 2em 0;
	text-align: center;
}

.site-footer .footer-navigation {
	-ms-flex-order: 2;
	    order: 2;
	width: 100%;
	clear: both;
	display: block;
	margin-bottom: 1em;
}

.site-footer .footer-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	text-align: center;
}

.site-footer .footer-navigation ul li {
	margin: 1em;
	font-weight: 500;
	text-transform: uppercase;
}

.site-footer .footer-navigation a {
	color: #9b9b9b;
	font-weight: 500;
	display: block;
	transition: 0.3s;
}

.site-footer .footer-navigation a:active, .site-footer .footer-navigation a:focus, .site-footer .footer-navigation a:hover {
	color: black;
}

.site-footer .footer-navigation .current_page_item > a,
.site-footer .footer-navigation .current-menu-item > a,
.site-footer .footer-navigation .current_page_ancestor > a,
.site-footer .footer-navigation .current-menu-ancestor > a {
	color: black;
}

.site-footer .site-info {
	-ms-flex-order: 3;
	    order: 3;
	width: 100%;
	text-align: center;
}

.site-footer .site-info p {
	margin-bottom: 1em;
}

.site-footer .site-info a {
	color: #9b9b9b;
	font-weight: 500;
	display: block;
	transition: 0.3s;
}

.site-footer .site-info a:active, .site-footer .site-info a:focus, .site-footer .site-info a:hover {
	color: black;
}

.site-footer .social-media-navigation {
	-ms-flex-order: 4;
	    order: 4;
	width: 100%;
}

.site-footer .social-media-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
}

.site-footer .social-media-navigation ul li a {
	color: #2cbdcb;
	display: block;
	padding: 0.5em;
	transition: 0.3s;
}

.site-footer .social-media-navigation ul li a:active, .site-footer .social-media-navigation ul li a:focus, .site-footer .social-media-navigation ul li a:hover {
	color: #335e6c;
}

.site-footer .social-media-navigation .stay-in-touch-label {
	display: none;
}

.site-footer .site-copyright {
	-ms-flex-order: 5;
	    order: 5;
	color: #9b9b9b;
	font-size: 0.7em;
	text-align: center;
}

@media screen and (min-width: 1140px) {
	.site-footer .footer-navigation {
		-ms-flex-order: 1;
		    order: 1;
		width: 100%;
		border-bottom: 1px solid #ccc;
		padding-bottom: 1em;
	}
	.site-footer .footer-navigation ul {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: center;
		    justify-content: center;
	}
	.site-footer .site-info {
		-ms-flex-order: 2;
		    order: 2;
		width: 30%;
		text-align: left;
	}
	.site-footer .footer-logo {
		-ms-flex-order: 3;
		    order: 3;
		width: 30%;
		margin-top: 1em;
	}
	.site-footer .social-media-navigation {
		-ms-flex-order: 4;
		    order: 4;
		width: 30%;
	}
	.site-footer .social-media-navigation ul {
		-ms-flex-pack: end;
		    justify-content: flex-end;
	}
	.site-footer .social-media-navigation ul li a {
		padding: 0;
		margin-left: 0.5em;
	}
	.site-footer .social-media-navigation .stay-in-touch-label {
		display: block;
		text-align: right;
	}
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*# sourceMappingURL=../reactivesurfaces/sass/maps/style.css.map */
