body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__montserrat;
	@include font-size(.9);
	line-height: $font__line-height-body;
	letter-spacing: 0.3px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media screen and (min-width: $size__desktop-break) {
		@include font-size(1);
	}
}

@import "headings";

@import "copy";
