.site-footer {
	border-top: 1px solid $color__rs-gray;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.footer-logo {
		order: 1;
		width: 100%;
		margin: 2em 0;
		text-align: center;
	}

	.footer-navigation {
		order: 2;
		width: 100%;
		clear: both;
		display: block;
		margin-bottom: 1em;

		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
			text-align: center;

			li {
				margin: 1em;
				font-weight: 500;
				text-transform: uppercase;
			}
		}

		a {
			color: $color__rs-dark-gray;
			font-weight: 500;
			display: block;
			transition: 0.3s;

			&:active,
			&:focus,
			&:hover {
				color: black;
			}
		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			color: black;
		}
	}

	.site-info {
		order: 3;
		width: 100%;
		text-align: center;

		p {
			margin-bottom: 1em;
		}

		a {
			color: $color__rs-dark-gray;
			font-weight: 500;
			display: block;
			transition: 0.3s;

			&:active,
			&:focus,
			&:hover {
				color: black;
			}
		}
	}

	.social-media-navigation {
		order: 4;
		width: 100%;

		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
			display: flex;
			justify-content: center;

			li {

				a {
					color: $color__rs-light-blue;
					display: block;
					padding: 0.5em;
					transition: 0.3s;

					&:active,
					&:focus,
					&:hover {
						color: $color__rs-dark-blue;
					}
				}
			}
		}

		.stay-in-touch-label {
			display: none;
		}
	}

	.site-copyright {
		order: 5;
		color: $color__rs-dark-gray;
		font-size: 0.7em;
		text-align: center;
	}
}

@media screen and (min-width: $size__desktop-break) {


	.site-footer {

		.footer-navigation {
			order: 1;
			width: 100%;
			border-bottom: 1px solid $color__rs-gray;
			padding-bottom: 1em;

			ul {
				display: flex;
				justify-content: center;
			}
		}

		.site-info {
			order: 2;
			width: 30%;
			text-align: left;
		}

		.footer-logo {
			order: 3;
			width: 30%;
			margin-top: 1em;
		}

		.social-media-navigation {
			order: 4;
			width: 30%;

			ul {
				justify-content: flex-end;

				li {

					a {
						padding: 0;
						margin-left: 0.5em;
					}
				}
			}

			.stay-in-touch-label {
				display: block;
				text-align: right;
			}
		}
	}
}

@media screen and (min-width: $size__desktop-wide-break) {


}