.site-header {
	position: relative;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: $size__site-max-width;
	width: 100%;
	margin: 0 auto;
	z-index: 10;
	border-bottom: 1px solid $color__border;

	.site-branding {

		.custom-logo-link {

			img {
				display: block
			}
		}
	}

	.site-title {
		margin: 0;
		padding: 0;
		font-size: 1.5em;
		font-weight: 700;
		line-height: 1em;

		a {
			text-decoration: none;

			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.site-description {
		margin: 0;
		font-size: 1em;
		font-style: italic;
		font-weight: 300;
	}
}

// Begin Header on specific pages
.home .site-header {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border: none;
}

// FAQ Page
.page-id-32 .site-header {
	border: none;
}
// End Header on specific pages

.anti-covid-message {
	font-weight: bold;
	position: relative;
	display: block;
	background-color: black;
	color: yellow !important;
	text-align: center;
	margin: 0 -100%;
	font-size: 2.6vw;
	padding: 0.6em;
	z-index: 10;
}

.header-image-container {
	position: relative;
	overflow: hidden;

	.header-image {
		max-height: 684px;
		overflow: hidden;

		img {
			display: block;
			min-width: $size__site-max-width;
		}
	}

	.header-text-container {
		text-align: center;
		color: white;
		width: 85%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		h1 {
			font-size: 1.6em;
			font-weight: 700;
		}

		h2 {
			font-size: 1em;
			margin-bottom: 4em;
		}

		p {
			font-weight: 500;
			margin-bottom: 1em;
		}
	}

	.header-navigation-arrow {
		display: none;
	}
}

@media screen and (min-width: $size__tablet-break) {

	.site-header {
		padding: 0.7em 2em;
	}

	.header-text-container {

		p {
			font-size: 1.2em;
		}
	}
}

@media screen and (min-width: $size__desktop-break) {

	.header-image-container {

		.header-image {
			//max-height: 600px;
		}

		.header-text-container {

			h2 {
				width: 80%;
				margin: 0 auto;
				margin-bottom: 3em;
			}
		}

		.header-navigation-arrow {
			display: block;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%);
		}

		.anti-covid-message {
			font-size: 1.5em;
		}
	}
}

@media screen and (min-width: $size__desktop-wide-break) {

	.header-image-container {

		.header-image {
			max-height: 684px;
		}

		.header-text-container {
			width: 62%;
		}
	}
}