/* Reactive Surfaces Colors */
$color__rs-blue: #4891b0;
$color__rs-light-blue: #2cbdcb;
$color__rs-dark-blue: #335e6c;
$color__rs-light-green: #afcf39;
$color__rs-gray: #ccc;
$color__rs-dark-gray: #9b9b9b;
$color__rs-light-gray: #eee;
$color__rs-background-light-blue: #f4f8fa;
$color__rs-background-light-gray: #eee;
$color__rs-gradient-background-start: #b5d033;
$color__rs_gradient-background-end: #27bcd0;
$color__rs_mobile_menu_start: $color__rs-gradient-background-start;
$color__rs_mobile_menu_end: $color__rs-gradient-background-end;

/* Default Colors */
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__rs-blue;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #333;
$color__text-input-focus: #111;
$color__link: $color__rs-blue;
$color__link-visited: darken($color__link, 10%);
$color__link-hover: darken($color__link, 5%);
$color__text-main: #333;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border: #ccc;
$color__border-blue: $color__rs-blue;
$color__border-input: $color__border;
$color__border-abbr: #666;