$size__site-main: 100%;
$size__site-sidebar: 25%;
$size__site-max-width: 1440px;

$size__tablet-break: 680px;
$size__desktop-break: 1140px;
$size__desktop-wide-break: 1440px;

$size__contact-form-max: 800px;
$size__popup-max-width: 1000px;
$size__article-max-width: 1140px;