.content-style-1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: -5em 0 3em;

	.column-1 {
		color: white;
		background-color: $color__rs-blue;
		width: 100%;
		padding: 2em 1em 3em;
		border-top-right-radius: 1em;

		h2 {
			font-size: 1.5em;
			font-weight: 600;
		}

		h3 {
			font-size: 1.8em;
			font-weight: 400;
		}
	}

	.column-2 {
		margin-top: 1em;
		padding: 1em;

		h1 {
			font-size: 1.5em;
			font-weight: 700;
		}

		h3 {
			font-weight: 600;
		}
	}
}

@media screen and (min-width: $size__tablet-break) {

	.content-style-1 {
		flex-direction: row-reverse;
		margin: 0;

		.column-1 {
			width: 50%;
			margin-top: -4em;
			border-top-right-radius: 3em;
			padding: 3.5em 2em;
			position: relative;

			h2 {
				font-size: 1.2em;
			}

			h3 {
				font-size: 1.6em;
			}

			a.button-link {
				font-size: 1.7vw;
			}

			.padding-space {
				height: 10em;
			}
		}

		.column-2 {
			width: 50%;
			padding: 2em;

			h1 {
				font-size: 1.5em;
				//font-weight: 600;
			}

			h3 {
				font-size: 1em;
			}
		}
	}
}

@media screen and (min-width: $size__desktop-break) {

	.content-style-1 {

		.column-1 {
			width: 40%;
			padding: 2.5em 3em;
			border-top-right-radius: 4em;

			&:before {
				content: "";
				height: 6px;
				width: 90px;
				display: block;
				background-color: $color__rs-light-green;
				position: absolute;
				top: 45%;
				left: -60px;
			}

			a.button-link {
				font-size: 1em;
			}
		}

		.column-2 {
			width: 60%;
			margin: 0;
			padding: 3em 5em 3em 3em;

			h1 {
				font-size: 2em;
			}
		}
	}
}

@media screen and (min-width: $size__desktop-wide-break) {

	.content-style-1 {

		.column-1 {
			width: 40%;
			padding: 2.5em 3em;
			border-top-right-radius: 4em;

			&:before {
				width: 130px;
				left: -90px;
			}

			.padding-space {
				height: 8em;
			}
		}

		.column-2 {
			padding-right: 8em;
		}
	}
}