.content-style-17 {
	margin: 2em -1em;
	background-repeat: no-repeat;
	background-size: cover;

	.image-container {

		img {
			display: block;
			width: 100%;
		}
	}

	.text-container {
		color: white;
		padding: 2em;

		h2 {
			font-size: 1.8em;
			font-weight: 600;
			margin-top: 0;
		}

		h3 {
			font-weight: 500;
		}
	}
}

@media screen and (min-width: $size__tablet-break) {

	.content-style-17 {
		margin: 2em -2em;
		padding: 2em;
		display: flex;
		justify-content: center;
		align-items: center;

		.image-container {
			order: 2;
			width: 35%;

			img {
				border-bottom-right-radius: 2em;
			}
		}

		.text-container {
			order: 1;
			width: 65%;
		}
	}
}

@media screen and (min-width: $size__desktop-break) {

	.content-style-17 {
		.image-container {
			width: 30%;
		}

		.text-container {
			width: 60%;
		}
	}
}

@media screen and (min-width: $size__desktop-wide-break) {

	.content-style-17 {
		margin: 2em 0;
		padding: 4em;
	}
}