.content-style-6 {
	padding: 2em 0;

	.text-container {
		margin-bottom: 3em;

		&.text-align-center {
			text-align: center;
		}

		&.disclaimer {
			font-size: 0.7em;
			font-weight: 600;
			color: $color__rs-dark-gray;
		}

		h2 {
			font-size: 1.8em;
			font-weight: 700;
		}
	}
}

@media screen and (min-width: $size__tablet-break) {

	.content-style-6 {
		padding: 2em;
	}
}

@media screen and (min-width: $size__desktop-break) {

	.content-style-6 {

		.text-container {
			width: 70%;

			&.text-position-center {
				margin: 0 auto;
			}

			&.text-position-right {
				margin: 0 0 0 auto;

				&.text-decoration {
					position: relative;

					&:before {
						content: "";
						height: 6px;
						width: 50%;
						display: block;
						background-color: black;
						position: absolute;
						top: 15%;
						left: -90%;
					}
				}
			}
		}
	}
}

@media screen and (min-width: $size__desktop-wide-break) {

	.content-style-6 {

		.text-container {

			&.text-position-right {

				&.text-decoration {

					&:before {
						left: -55vw;
					}
				}
			}
		}
	}
}