.content-style-16 {
	padding: 2em 0 0;

	.text-container {
		text-align: center;
		margin-bottom: 2em;

		h2 {
			font-size: 1.8em;
			font-weight: 700;
			margin-top: 0;
		}
	}

	.video-boxes-container {

		.video-box {
			margin: 0 0 3em;

			.video-image-container {
				position: relative;

				.video-image {
					border-top-right-radius: 2em;
					overflow: hidden;

					img {
						width: 100%;
						display: block;
					}
				}

				.video-player-button {
					max-width: 100px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			.video-description {

				p {
					margin-bottom: 0;
				}
			}
		}
	}

	.transparent-overlay {
		border-top-right-radius: 2em;
	}
}

@media screen and (min-width: $size__tablet-break) {

	.content-style-16 {
		padding: 2em;

		.video-boxes-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.video-box {
				width: 30%;
				margin: 0;
				max-width: initial;
			}
		}
	}
}