.content-style-8 {
	padding: 2em 0;

	.text-container {

		h2 {
			text-align: center;
			font-size: 1.8em;
			font-weight: 500;
		}
	}

	.articles-container {

		.article {
			color: white;
			background-color: rgba($color__rs-blue, 0.8);
			padding: 2em 1.5em;
			height: 350px;

			a {
				color: white;
			}

			i {
				font-size: 2em;
			}

			h3 {
				font-size: 1.2em;
				font-weight: 500;
			}

			p {
				margin: 0;
				text-transform: uppercase;
			}
		}

		.fa-arrow-left,
		.fa-arrow-right {
			font-size: 1.2em;
			margin: 0 0.5em;
		}

		// Owl Carousel items
		.owl-item {

			&:nth-child(2n-1) .article {
				border-bottom-left-radius: 3em;
			}

			&:nth-child(2n) .article {
				border-top-left-radius: 3em;
			}

			&:nth-child(3n) .article {
				background-color: $color__rs-light-blue;
			}

			&:nth-child(3n+1) .article {
				background-color: $color__rs-light-green;
			}

			&:nth-child(3n-1) .article {
				background-color: $color__rs-dark-blue;
			}
		}
	}

	.link-container {
		display: none;
	}
}

@media screen and (min-width: $size__tablet-break) {

	.content-style-8 {

		.articles-container {
			margin-bottom: 2em;
		}

		.link-container {
			display: block;
			text-align: center;
		}
	}
}

@media screen and (min-width: $size__desktop-break) {

	.content-style-8 {

		.articles-container {

			.article {
				height: 440px;
				padding: 3em 2.5em;

				p {
					font-size: 0.8em;
				}
			}
		}
	}
}