.content-style-19 {
	margin: 2em -1em;

	.image-container {

		img {
			display: block;
			width: 100%;
		}
	}

	.text-container {
		padding: 2em;

		&:nth-child(2) {
			color: white;
			background-color: $color__rs-light-blue;
		}

		h2 {
			margin-top: 0;
		}

		.text-small {
			font-size: 0.8em;
		}
	}
}

@media screen and (min-width: $size__tablet-break) {

	.content-style-19 {
		margin: 2em -2em;
		display: flex;
		flex-wrap: wrap;

		.image-container {
			width: 50%;
		}

		.text-container {
			font-size: 1.9vw;
			width: 50%;

			&:nth-child(2) {
				border-top-right-radius: 2em;
			}
		}
	}
}

@media screen and (min-width: $size__desktop-break) {

	.content-style-19 {

	}
}

@media screen and (min-width: $size__desktop-wide-break) {

	.content-style-19 {
		margin: 4em 0;

		.text-container {
			font-size: 1.3em;
		}
	}
}