.content-style-4 {

	.video-container {
		position: relative;

		.video-image {
			position: relative;
			margin: 0 -1em 2em;

			img {
				display: block;
				width: 100%;
				max-height: 600px;
			}
		}

		.mobile-video-player-button {
			max-width: 100px;
			position: absolute;
			top: 30%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		a {
			color: $color__text-main;
		}
	}
}

@media screen and (min-width: $size__tablet-break) {

	.content-style-4 {
		margin: 2em 0;

		.video-container {

			.video-text-container {
				color: white;
				width: 50%;
				position: absolute;
				top: 55%;
				left: 50%;
				transform: translate(-30%, -50%);

				&:before {
					content: "";
					background: url('images/content-style-4-video-player-button.png') top left no-repeat;
					width: 126px;
					height: 138px;
					display: block;
					position: absolute;
					left: -125px;
					top: -35px;
				}

				p {
					font-weight: 500;
				}
			}

			.mobile-video-player-button {
				display: none;
			}
		}
	}
}