.content-style-12 {
	margin: 3em -1em;
	padding: 2em;
	background-color: $color__rs-background-light-blue;

	.text-container {
		margin-bottom: 3em;
		text-align: center;

		h2 {
			font-size: 1.8em;
			font-weight: 600;
		}
	}

	.content-container {

		.item {
			border: 1px solid $color__border-blue;
			border-top-left-radius: 1em;
			background-color: white;

			.item-text-container {
				padding: 1em 2em;

				h3 {
					color: $color__rs-blue;
					border-bottom: 2px solid $color__border-blue;
					display: inline-block;
				}

				h4 {
					font-size: 1.5em;
					font-weight: 400;
				}

				.html-content {

					ul {
						margin-left: 0;
						padding-left: 1em;
					}
				}
			}

			.item-image-container {

				img {
					display: block;
					width: 100%;
				}
			}
		}

		.fa-arrow-left,
		.fa-arrow-right {
			font-size: 1.2em;
			margin: 0 0.5em;
		}
	}
}

@media screen and (min-width: $size__tablet-break) {

	.content-style-12 {
		margin: 3em -2em;

		.text-container {
			margin-bottom: 3em;
		}

		.content-container {

			.item {
				border-top-left-radius: 2em;
				position: relative;
				width: 82%;
				display: flex;
				margin-top: 2.7em;

				.item-text-container {
					width: 80%;
					padding: 2em 3em;
					font-size: 0.8em;

					h4 {
						font-size: 1.2em;
					}
				}

				.item-image-container {
					position: absolute;
					right: -95px;
					top: -40px;
					border-bottom-right-radius: 2em;
					overflow: hidden;
					box-shadow: 0 7px 33px -8px black;
					max-width: 235px;
				}
			}
		}
	}
}

@media screen and (min-width: $size__desktop-break) {

	.content-style-12 {
		padding-bottom: 3em;

		.text-container {
			width: 70%;
			margin: 0 auto 3em;
		}

		.content-container {

			.item {

				.item-text-container {
					font-size: 0.9em;

					h4 {
						font-size: 1.1em;
					}
				}

				.item-image-container {
					top: -10%;
					right: -20%;
					max-width: 400px;
				}
			}
		}
	}
}

@media screen and (min-width: $size__desktop-wide-break) {

	.content-style-12 {
		margin: 3em 0;

		.content-container {

			.item {

				.item-text-container {
					font-size: 1em;

					h4 {
						font-size: 1.5em;
					}
				}

				.item-image-container {
					max-width: initial;
				}
			}
		}
	}
}