.content-style-20 {
	padding: 2em 0;

	.text-container {
		margin-bottom: 2em;
		text-align: center;

		h2 {
			font-size: 1.8em;
			font-weight: 600;
		}
	}

	.boxes-container {

		.box {
			border-width: 1px;
			border-style: solid;
			margin: 0 auto 2em;
			padding: 3em 2em 2em;
			max-width: 400px;
			color: $color__rs-blue;
			border-color: $color__rs-blue;

			&.style-1 {
				border-top-left-radius: 3em;
			}

			&.style-2 {
				border-bottom-left-radius: 3em;
			}

			&.style-3 {
				border-top-left-radius: 3em;
			}

			h3 {
				font-size: 1em;
				font-weight: 500;
				margin-top: 0;
			}

			p {
				color: $color__rs-dark-gray;
				font-size: 0.7em;
			}
		}
	}
}

@media screen and (min-width: $size__tablet-break) {

	.content-style-20 {

		.boxes-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.box {
				width: 30%;
				max-width: initial;
			}
		}
	}
}

@media screen and (min-width: $size__desktop-break) {

	.content-style-20 {
		padding: 2em;

		.boxes-container {

			.box {
				//padding-bottom: 1em;
			}
		}
	}
}