.content-style-9 {
	margin: 0 -1em;

	.image-container {

		img {
			display: block;
			width: 100%;
		}
	}

	.text-container {
		margin: 1em 0;
		padding: 1em;

		h2 {
			font-size: 1.8em;
			font-weight: 700;
		}
	}

	.color-box-container {
		order: 3;
		padding: 2em 1em;

		&.bg-color-blue {
			color: white;
			background-color: $color__rs-blue;
		}

		&.bg-color-light-green {
			background-color: $color__rs-light-green;
		}

		&.bg-color-dark-blue {
			color: white;
			background-color: $color__rs-dark-blue;
		}

		a {
			color: white;
		}

		h2 {
			font-size: 1.5em;
			font-weight: 600;
		}

		h3 {
			font-size: 1.8em;
			font-weight: 400;
		}
	}

	&.layout-1 {

		.image-container {
			order: 1;
		}

		.text-container {
			order: 2;
		}
	}

	&.layout-2 {

		.image-container {
			order: 2;
		}

		.text-container {
			order: 1;
		}
	}
}

@media screen and (min-width: $size__tablet-break) {

	.content-style-9 {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.image-container {
			width: 35%;
		}

		.text-container {
			width: 65%;
			margin: 0;

			h2 {
				font-size: 1.2em;
				margin-top: 0;
			}
		}

		.color-box-container {
			width: 100%;
			padding: 2em;

			h2 {
				font-size: 1.2em;
			}

			h3 {
				font-size: 1.6em;
			}
		}

		&.layout-1 {

			.image-container {

				img {
					border-top-left-radius: 2em;
				}
			}

			.color-box-container {
				border-bottom-right-radius: 2em;
			}
		}

		&.layout-2 {

			.image-container {

				img {
					border-bottom-right-radius: 2em;
				}
			}

			.color-box-container {
				border-top-left-radius: 2em;
			}
		}
	}
}

@media screen and (min-width: $size__desktop-break) {

	.content-style-9 {
		align-items: initial;
		justify-content: center;

		.image-container {
			width: 45%;
			max-width: 540px;
		}

		.text-container {
			width: 55%;
			padding: 2.5em 3em;

			h2 {
				font-size: 1.5em;
			}
		}

		.color-box-container {
			width: 70%;
			padding: 2.5em 3em;
			position: relative;
			top: -3em;
			margin-bottom: -3em;
		}

		&.layout-1 {

			.image-container {

				img {
					border-top-left-radius: 4em;
				}
			}

			.color-box-container {
				border-bottom-right-radius: 4em;
			}
		}

		&.layout-2 {

			.image-container {

				img {
					border-bottom-right-radius: 4em;
				}
			}

			.color-box-container {
				border-top-left-radius: 4em;
			}
		}
	}
}