.content-style-5 {
	padding: 2em 0;

	.text-container {
		margin-bottom: 3em;

		h2 {
			font-size: 1.8em;
			font-weight: 700;
		}
	}

	.columns-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.column-flip {
			color: white;
			text-align: center;
			width: 100%;
			margin-bottom: 2em;

			&:hover {
				cursor: pointer;
			}

			.transparent-overlay {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, .5);
			}

			.column-text-container {
				width: 90%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.front,
			.back {

				img {
					display: block;
					margin: 0 auto;
					width: 100%;
				}

				.column-text-container {

					i {
						color: $color__rs-light-blue;
						font-size: 1.5em;
					}

					h3 {
						margin: 0.4em;
						font-size: 3vw;
						font-weight: 500;
					}

					p {
						margin: 0;
						font-size: 4vw;
					}
				}
			}

			.back {
				background-color: $color__rs-blue;

				.column-text-container {

					h3 {
						margin-top: 0;
					}

					p {
						margin: 0 auto;
						width: 90%;
					}
				}
			}
		}
	}
}

@media screen and (min-width: $size__tablet-break) {

	.content-style-5 {
		padding: 2em;

		.text-container {

			&.text-position-center {
				margin: 0 auto;
				text-align: center;
			}
		}

		.columns-container {

			.column-flip {
				width: 48%;

				.front,
				.back {

					.column-text-container {

						i {
							font-size: 2vw;
						}

						h3 {
							font-size: 1.2vw;
						}

						p {
							font-size: 1.7vw;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: $size__desktop-break) {

	.content-style-5 {

		.text-container {
			width: 65%;

			h2 {
				width: 50%;
			}

			&.text-position-center {

				h2 {
					width: initial;
				}
			}
		}

		.columns-container {

			.column-flip {

				.front,
				.back {

					.column-text-container {

						i {
							font-size: 3vw;
						}

						h3 {
							font-size: 1.5vw;
						}

						p {
							font-size: 1.8vw;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: $size__desktop-wide-break) {

	.content-style-5 {

		.columns-container {

			.column-flip {

				.front,
				.back {

					.column-text-container {

						i {
							font-size: 2em;
						}

						h3 {
							font-size: 1em;
						}

						p {
							font-size: 1.5em;
						}
					}
				}
			}
		}
	}
}