.content-faq {
	margin-bottom: 2em;

	.search-form-container {
		position: relative;

		.hero-image {
			width: 100vw;
			margin: 0 -1em;
		}

		.search-form {
			width: 80%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;

			.search-field {
				width: 80%;
				border: none;
				margin-bottom: 0.5em;
			}

			.search-submit {
				width: 15%;
				border: none;
			}
		}
	}

	.text-container {
		text-align: center;
		margin-bottom: 3em;

		h2 {
			font-size: 1.8em;
			font-weight: 500;
		}
	}

	.accordion-container {
		margin: 3em 0;
		border: 1px solid $color__border;
		border-top-right-radius: 1em;
		border-bottom-right-radius: 1em;
		border-bottom-left-radius: 1em;

		.accordion-title {
			position: relative;
			cursor: pointer;
			font-size: 1em;
			font-weight: 500;
			margin: 0;
			padding: 2em 4em 2em 2em;
			border-top: 1px solid $color__border;

			i {
				position: absolute;
				top: 2em;
				right: 1.5em;
				color: $color__rs-light-blue;
				border: 2px solid;
				border-radius: 50%;
				padding: 0.2em 0.25em 0.1em;
			}

			&:first-child {
				border: none;
			}
		}

		.panel {
			display: none;
			margin: 0;
			padding: 0 4em 2em 2em;
		}
	}
}

@media screen and (min-width: $size__tablet-break) {

	.content-faq {

		.search-form-container {

			.search-form {
				max-width: 800px;
				text-align: initial;
			}

			.hero-image {
				margin: 0 -2em;
			}
		}

		.accordion-container {

			.accordion-title,
			.panel {
				padding-right: 8em;
			}

			.accordion-title {
				i {
					right: 3em;
				}
			}
		}
	}
}

@media screen and (min-width: $size__desktop-break) {

	.content-faq {

		.text-container {
			width: 70%;
			margin: 0 auto;
		}

		.accordion-container {
			width: 90%;
			margin: 3em auto;
		}
	}
}

@media screen and (min-width: $size__desktop-wide-break) {

	.content-faq {

		.search-form-container {

			.hero-image {
				width: 100%;
				margin: 0;
			}
		}
	}
}