.content-style-11 {
	margin: 4em 0;

	.text-container {
		margin-bottom: 3em;
		text-align: center;

		h2 {
			font-size: 1.8em;
			font-weight: 600;
		}
	}

	.image-container {

		img {
			display: block;
			margin: 0 auto;
		}
	}
}

@media screen and (min-width: $size__desktop-break) {

	.content-style-11 {
		margin: 5em 0;

		.text-container {
			width: 70%;
			margin: 0 auto 2em;
		}
	}
}