.content-style-15 {
	padding: 2em 0;

	.text-container {
		margin-bottom: 2em;

		h2 {
			font-size: 1.8em;
			font-weight: 700;
		}
	}

	.boxes-container {

		.box {
			border-width: 1px;
			border-style: solid;
			margin: 0 auto 2em;
			padding: 2em;
			max-width: 400px;

			&.style-1 {
				color: $color__rs-light-blue;
				border-color: $color__rs-light-blue;
				border-top-left-radius: 3em;

				a {
					color: $color__rs-light-blue;
				}
			}

			&.style-2 {
				color: $color__rs-light-green;
				border-color: $color__rs-light-green;
				border-bottom-left-radius: 3em;

				a {
					color: $color__rs-light-green;
				}
			}

			&.style-3 {
				color: $color__rs-dark-blue;
				border-color: $color__rs-dark-blue;
				border-top-left-radius: 3em;

				a {
					color: $color__rs-dark-blue;
				}
			}

			i {
				font-size: 2em;
			}

			h3 {
				//font-size: 1.5em;
			}
		}
	}
}

@media screen and (min-width: $size__tablet-break) {

	.content-style-15 {

		.boxes-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.box {
				width: 30%;
				max-width: initial;

				h3 {
					//font-size: 1.2em;
				}
			}
		}
	}
}

@media screen and (min-width: $size__desktop-break) {

	.content-style-15 {
		padding: 2em 3em;

		.text-container {
			width: 65%;

			h2 {
				width: 50%;
			}
		}

		.boxes-container {

			.box {

				h3 {
					//font-size: 1.5em;
				}
			}
		}
	}
}