.content-style-13 {
	padding: 2em 0 4em;

	.text-container {
		margin-bottom: 3em;
		text-align: center;

		h2 {
			font-size: 1.8em;
			font-weight: 500;
		}
	}

	.columns-container {

		.column {
			padding: 1em 2em;
			border-radius: 1em;
			background-color: $color__rs-background-light-gray;
			margin-bottom: 2em;

			&:first-child {
				background: none;
			}

			&.featured {
				color: white;
				background-image: linear-gradient(30deg, $color__rs-gradient-background-start, $color__rs-gradient-background-end);
			}

			.column-title {
				text-align: center;
				margin-bottom: 3em;
			}
		}
	}
}

@media screen and (min-width: $size__tablet-break) {

	.content-style-13 {

		.columns-container {
			display: flex;
			justify-content: center;
			font-size: 1.2vw;

			.column {
				width: 46%;
				max-width: 460px;
				margin: 0 2%;

				.column-title {
					white-space: nowrap;
				}

				.column-content {

					p {
						min-height: 3em;
					}
				}
			}
		}
	}
}

@media screen and (min-width: $size__desktop-break) {

	.content-style-13 {

		.text-container {
			width: 70%;
			margin: 0 auto 4em;
		}

		.columns-container {
			font-size: 0.7em;
		}
	}
}

@media screen and (min-width: $size__desktop-wide-break) {

	.content-style-13 {

		.columns-container {
			font-size: 1em;

			.column {

				.column-content {

					p {
						min-height: 60px;
					}
				}
			}
		}
	}
}