.content-style-10 {
	margin: 2em 0;

	.text-container {
		margin-bottom: 3em;
		text-align: center;

		h2 {
			font-size: 1.8em;
			font-weight: 600;
		}
	}

	.grid-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 450px;
		margin: 0 auto;

		.grid-item {
			width: 100%;
			display: flex;
			align-items: center;
			margin-bottom: 2em;
			padding-bottom: 2em;
			border-bottom: 2px solid $color__border;

			img {
				margin-right: 1em;
			}

			p {
				margin: 0;
			}
		}
	}
}

@media screen and (min-width: $size__tablet-break) {

	.content-style-10 {
		padding: 1em 2em;
		margin: 0 -2em;

		.grid-container {
			max-width: initial;

			.grid-item {
				width: 44%;
				margin: 0 3% 2em;
			}
		}
	}
}

@media screen and (min-width: $size__desktop-break) {

	.content-style-10 {
		margin: 0;

		.text-container {
			width: 70%;
			margin: 0 auto 4em;
		}
	}
}