.content-style-2 {
	padding-bottom: 2em;
	border-bottom: 1px solid $color__rs-gray;

	.content-container {
		background: url('images/content-style-2-background.jpg') center top no-repeat;
		margin: 0 -1em;

		.article {
			color: white;
			background-color: rgba($color__rs-blue, 0.8);
			padding: 2em 1.5em 1em;
			margin-bottom: 12em;

			i {
				font-size: 2em;
			}

			h3 {
				font-size: 0.9em;
				font-weight: 500;
			}
		}

		.block-1 {
			color: white;
			background-color: $color__rs-light-blue;
			padding: 2em 1em;

			h2 {
				font-size: 1.5em;
				font-weight: 600;
			}

			h3 {
				font-size: 1.6em;
				font-weight: 400;
			}
		}

		.block-2 {
			background-color: $color__rs-light-green;
			padding: 2em 1em 3em;

			h2 {
				font-size: 1.5em;
				font-weight: 600;
			}

			h3 {
				font-size: 1.8em;
				font-weight: 400;
			}
		}

		.block-3 {
			padding: 2em 1em;

			h3 {
				font-weight: 600;
			}

			p {
				font-size: 1.6em;
				font-weight: 600;
			}
		}
	}
}

@media screen and (min-width: $size__tablet-break) {

	.content-style-2 {
		margin-top: -8em;
		padding-bottom: 10em;
		position: relative;

		.content-container {
			border-top-left-radius: 3em;
			max-width: 90%;
			margin: 0 auto;

			.article {
				border-top-left-radius: 3em;
				max-width: 450px;
				padding: 2.5em 1.752em 1em;

				h3 {
					font-size: 1.25em;
					font-weight: 400;
				}
			}

			.blocks-container {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-end;

				.block-1 {
					order: 2;
					width: 60%;
					padding: 2em;
					position: relative;
					right: -3.58em;
					top: -3em;
					border-bottom-right-radius: 3em;

					h2 {
						font-size: 1.3em;
					}

					h3 {
						font-size: 1.8em;
					}
				}

				.block-2 {
					order: 1;
					width: 40%;
					padding: 3.5em 1.5em;
					position: relative;
					left: -3.58em;
					bottom: -6em;
					border-top-right-radius: 3em;

					h2 {
						font-size: 1.2em;
					}

					h3 {
						font-size: 1.6em;
					}

					a.button-link {
						font-size: 1.4vw;
					}
				}

				.block-3 {
					order: 3;
					width: 100%;
					padding: 2em 0;
					position: relative;
					bottom: -6em;

					h3 {
						font-size: 1em;
					}

					p {
						font-size: 1.8em;
					}
				}
			}
		}
	}
}

@media screen and (min-width: $size__desktop-break) {

	.content-style-2 {
		margin-top: -8em;

		.content-container {
			border-top-left-radius: 4em;

			.article {
				border-top-left-radius: 4em;
			}

			.blocks-container {

				.block-1 {
					border-bottom-right-radius: 4em;
					padding: 2.5em 3em;
				}

				.block-2 {

					a.button-link {
						font-size: 1em;
					}
				}
			}
		}
	}
}

@media screen and (min-width: $size__desktop-wide-break) {

	.content-style-2 {
		margin-top: -6em;

		.content-container {
			background-size: contain;
		}
	}
}