.content-style-7 {
	background: url('images/content-style-7-background.jpg') center top no-repeat;
	background-size: cover;
	margin: 0 -1em;
	padding: 2em 1em;
	text-align: center;

	.text-container {
		margin-bottom: 3em;
	}

	.grid-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.grid-item {
			width: 100%;
			margin-bottom: 2em;

			h3 {
				color: $color__rs-blue;
			}

			p {
				color: $color__rs-dark-gray;
			}
		}
	}
}

@media screen and (min-width: $size__tablet-break) {

	.content-style-7 {
		padding: 3em 2em 2em;
		margin: 0 -2em;

		.grid-container {

			.grid-item {
				text-align: left;
				width: 30%;
			}
		}
	}

}

@media screen and (min-width: $size__desktop-break) {

	.content-style-7 {
		margin: 0;

		.text-container {
			width: 70%;
			margin: 0 auto 4em;
		}
	}
}