.content-style-3 {
	padding: 2em 0;

	.text-container {
		text-align: center;
		margin-bottom: 3em;

		h2 {
			font-size: 1.8em;
			font-weight: 500;
		}

		p {
			margin: 0;
		}
	}

	.columns-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.column {
			width: 100%;
			text-align: center;
			margin-bottom: 3em;

			a {
				color: black;
			}
		}
	}
}

@media screen and (min-width: $size__tablet-break) {

	.content-style-3 {
		padding: 2em;

		.columns-container {

			.column {
				width: 25%;
				margin-bottom: 0;
			}
		}
	}
}