.content-style-18 {
	margin: 2em 0 0;


	.members-container {
		margin: 0 -1em;

		&.top-container {

			.team-member-container {

				.position-container {
					background-color: transparent;

					p {
						color: white;
					}
				}
			}
		}

		.team-member-container {
			position: relative;

			.image-container {

				img {
					display: block;
					width: 100%;
				}
			}

			.position-container {
				position: absolute;
				bottom: 0;
				padding: 1em;
				background-color: white;
				width: 90%;
				left: 50%;
				transform: translate(-50%, 0);

				p {
					font-weight: 600;
					margin: 0.2em 0;
				}
			}
		}
	}

	.text-container {
		margin: 0 -1em;
		background-color: $color__rs-light-green;
		padding: 2em;
	}
}

.bio-popup {
	display: none;
	max-width: $size__popup-max-width;
	padding: 2em;
}

@media screen and (min-width: $size__tablet-break) {

	.content-style-18 {

		.members-container {
			margin: 3em 0 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			&.top-container {

				.team-member-container {

					.position-container {
						background-color: $color__rs-background-light-gray;

						p {
							color: initial;
						}
					}
				}
			}

			.team-member-container {
				width: 31%;
				margin-bottom: 2em;

				.image-container {
					border-top-right-radius: 1em;
					overflow: hidden;
				}

				.position-container {
					position: relative;
					width: initial;
					background-color: $color__rs-background-light-gray;

					p {
						color: initial;
					}
				}
			}
		}

		.text-container {
			position: relative;
			margin: 0;
			border-top-left-radius: 3em;

			&:after {
				content: "";
				height: 5em;
				width: 6px;
				display: block;
				background-color: black;
				position: absolute;
				bottom: -4em;
				left: 50%;
				transform: translate(-50%,0);
			}
		}
	}
}

@media screen and (min-width: $size__desktop-break) {

	.content-style-18 {

		.members-container {
			margin: 4em 0 0;

			&.top-container {

				.team-member-container {

					.position-container {
						background-color: transparent;

						p {
							color: white;
						}
					}
				}
			}

			.team-member-container {

				.position-container {
					padding: 0.5em 1em;
					position: absolute;
					width: 90%;
					background-color: white;
				}
			}
		}
	}
}

@media screen and (min-width: $size__desktop-wide-break) {

	.content-style-18 {

		.text-container {
			font-size: 1.25em;
		}
	}
}