a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}

	&.button-link {
		display: inline-block;
		font-size: 0.9em;
		padding: 0.7em 1em;
		border-radius: 1.6em;
		border: 2px solid;
		transition: 0.3s;
		color: inherit;

		&.active,
		&:focus,
		&:hover {
			background-color: rgba(0, 0, 0, 0.2);
		}
	}

	i {
		margin-left: 1em;
	}
}