.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 62%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
			color: $color__rs-light-green;
		}
	}

	a {
		color: $color__text-main;
		font-weight: 500;
		display: block;
		text-decoration: none;
		padding: 0.5em 0.7em;
		font-size: 0.8em;
		transition: 0.3s;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__rs-light-green;
	}

	#mobile-navigation-toggle {
		font-size: 2em;
		cursor: pointer;
		float: right;
	}

	#primary-menu {
		justify-content: space-between;
	}

	#secondary-menu {
		justify-content: flex-end;
		margin-bottom: 0.5em;

		a {
			font-size: 0.7em;
			text-transform: uppercase;
		}
	}
}

// Main Navigation on specific pages
.home .main-navigation {

	a {
		color: white;
	}

	#primary-menu {

		> li:first-child {
			display: none;
		}
	}

	#mobile-navigation-toggle {
		color: white;
	}
}

// Mobile Menu
.mobile-overlay {
	text-align: center;
	height: 0;
	width: 100vw;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-image: linear-gradient(30deg, $color__rs-mobile-menu-start, $color__rs-mobile-menu-end);
	overflow-x: hidden;
	transition: 0.3s;

	&.nav-expanded {
		height: 100vh;
	}

	#mobile-navigation-close {
		color: white;
		display: block;
		margin: 1.5em auto 0;
		width: 2em;
		font-size: 2em;
	}

	.overlay-content,
	.social-media-navigation {
		color: white;

		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
		}
	}

	.overlay-content {
		margin-top: 2em;
	}

	.social-media-navigation {
		margin-top: 5em;

		#social-media-menu-mobile {
			display: flex;
			justify-content: center;

			li:first-child {

				a i {
					margin-left: 0;
				}
			}
		}
	}

	a {
		color: white;
		font-size: 1.2em;
		font-weight: 600;
		padding: 0.5em;
		text-decoration: none;
		display: block;
	}
}

@media screen and (min-width: $size__tablet-break) {

	.main-navigation #mobile-navigation-toggle {
		font-size: 2.5em;
	}
}

@media screen and (min-width: $size__desktop-break) {

	#mobile-navigation-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		font-size: 0.7em;
		float: left;
		width: 50%;

		i {
			margin: 0 1em 0 0;
		}
	}

	.nav-next {
		font-size: 0.7em;
		float: right;
		text-align: right;
		width: 50%;
	}
}