div.wpcf7 {

	.wpcf7-form-control {
		width: 100%;
	}
}

@media screen and (min-width: $size__tablet-break) {

	div.wpcf7 {
		max-width: $size__contact-form-max;
		margin: 0 auto;

		input[type="submit"] {
			display: block;
			max-width: 320px;
			margin: 0 auto;
		}
	}
}