.sticky {
	display: block;
}

.hentry {
	margin: 0 0 2em;
}

.entry-header {

	.cat-links,
	.back-to-articles-link {
		font-weight: 600;
		font-size: 0.7em;

		a {
			text-transform: uppercase;

			i.fa-arrow-left {
				margin: 0 0.5em 0 0;
			}
		}
	}

	.entry-title {
		font-size: 1em;
		font-weight: 600;
		margin: .125em 0 .25em;
	}

	.entry-meta {
		font-size: 0.7em;
		margin-bottom: 1em;
	}
}

.entry-footer {
	font-size: 0.8em;

	.article-meta {
		font-weight: 600;
		margin: 1em 0;

		.article-journal {
			color: $color__rs_dark_gray;
		}

		.article-date {
			color: $color__rs_gray;
		}
	}

	.read-more-link {

		i.fa-arrow-right {
			margin: 0 0 0 0.5em;
		}
	}
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.blog,
.archive {

	.post-thumbnail {

		img {
			border-bottom-right-radius: 2em;
		}
	}
}

@media screen and (min-width: $size__tablet-break) {

	.blog,
	.archive {

		.site-main {
			display: flex;
			flex-wrap: wrap;
			//justify-content: space-between;

			article {
				padding: 0 2.5%;
				width: 50%;
			}
		}
	}
}

@media screen and (min-width: $size__desktop-break) {

	.blog,
	.archive {

		.site-main {

			article {
				width: 25%;

				&:nth-child(1),
				&:nth-child(2) {
					width: 50%;
					margin-bottom: 3em;

					.post-thumbnail {

						img {
							border-top-right-radius: 4em;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: $size__desktop-wide-break) {

	.single {

		.site-content {
			max-width: $size__article-max-width;
			margin: 0 auto;
		}
	}
}