.search-results,
.search-no-results {

	.page-header {
		margin-bottom: 1em;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		.breadcrumb-container {
			font-size: 0.7em;
			margin: 0.7em 0;
		}
	}

	.page-title {
		font-size: 1.2em;
		margin: 0;
	}

	.results {
		font-size: 0.8em;
		font-style: italic;
		margin-bottom: 1em;
	}

	article {
		padding-top: 1.5em;
		border-top: 1px solid $color__border;

		.entry-title {
			font-size: 1.2em;
			margin: 0;
		}
	}
}

@media screen and (min-width: $size__tablet-break) {

	.search-results,
	.search-no-results {

		.page-header {

			.breadcrumb-container {
				font-size: 0.8em;
			}
		}
	}
}

@media screen and (min-width: $size__desktop-break) {

	.search-results,
	.search-no-results {
		article {
			width: 65%;
		}
	}
}