.template-technology {

	.tabs{
		margin: 0;
		padding: 1em 0;
		list-style: none;
		text-align: center;

		li {
			padding: 1em 0;
			font-weight: 500;

			&.active {
				color: $color__rs-blue;
			}
		}
	}

	.tab-content {
		display: none;
		animation: fadeEffect 0.5s;

		&.active {
			display: inherit;
		}
	}
}

@media screen and (min-width: $size__tablet-break) {

	.template-technology {

		.tabs{
			display: flex;
			justify-content: space-around;
			border-bottom: 1px solid $color__border;
			padding: 0;

			li {
				position: relative;
				cursor: pointer;

				&.active {

					&:after {
						content: "";
						display: block;
						position: absolute;
						bottom: 0;
						width: 100%;
						height: 2px;
						background-color: $color__rs-blue;
					}
				}
			}
		}

		.tab-content {
			padding: 3em 0;
		}
	}
}

@media screen and (min-width: $size__desktop-break) {

	.template-technology {

		.tab-content {
			padding: 4em 0;
		}
	}
}